{% trans_default_domain 'admin.payment' %}

<div class="d-flex justify-content-around pb-3 radio-buttons " data-buttons="true">
	<label class="btn p-3 border-dotted rounded-3 w-100 {{ form.active.vars.data ? 'active' }}">
		<div class="d-flex align-items-center">
			<div class="flex-grow-1">
                <span class="h5">
                    <div class="form-check d-flex align-items-center">
                        {{ form_widget(form.active, { label: false }) }}
                        <span>
                            {{ 'admin.form.label.active'|trans }}
                        </span>
                    </div>
                </span>
			</div>
		</div>
	</label>
</div>


{# Основные настройки #}
{{ form_row(form.sort, { label : 'sort'|trans({}, 'core') }) }}

{{ form_row(form.type, { label : 'Ограничение профилем'|trans, placeholder : 'Доступно всем' }) }}

